<style>
    td {
        border: solid 1px #333;
    }
</style>
<form style="text-align:center;">
    <table align="center" cellpadding="10" cellspacing="5" style="border-collapse:collapse; font-family:Boogaloo;">
        <th colspan="2">Employment Information</th>
        <tr>
            <td class="form-group">
                <label for="first-name">First Name : </label>
                <span><%= firstname %></span>
            </td>
            <td class="form-group">
                <label for="surname">Surname : </label>
                <span><%= surname %></span>
            </td>
        </tr>
        <tr>
            <td class="form-group">
                <label for="title">Title : </label>
                <span><%= title %></span>
            </td>
            <td>
                <label for="phone">Phone Number(Home) : </label>
                <span><%= phone %></span>
            </td>
        </tr>
        <tr>
            <td class="form-group">
                <label for="mobile">Phone Number(Mobile) : </label>
                <span><%= mobile %></span>
            </td>
            <td class="form-group">
                <label for="dob">Date Of Birth : </label>
                <span><%= dob %></span>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="form-group">
                <label for="address">Address : </label>
                <span><%= address %></span>
            </td>
        </tr>
        <tr>
            <td class="form-group">
                <label for="postcode">Postcode : </label>
                <span><%= postcode %></span>
            </td>
            <td class="form-group">
                <label for="email">Email Id : </label>
                <span><%= email %></span>
            </td>
        </tr>
        <tr>
            <td class="form-group">
                <label for="nationality">Nationality : </label>
                <span><%= nationality %></span>
            </td>
            <td class="form-group">
                <label for="country">Country : </label>
                <span><%= country %></span>
            </td>
        </tr>
        <tr>
            <td class="form-group">
                <label for="present">Present Job Title : </label>
                <span><%= present %></span>
            </td>
            <td class="form-group">
                <label for="schoolname">Name of School / Employee : </label>
                <span><%= schoolname %></span>
            </td>
        </tr>
        <tr>
            <td class="form-group">
                <label for="dateappointed">Date appointed to post : </label>
                <span><%= dateappointed %></span>
            </td>
            <td class="form-group">
                <label for="schooltype">Type of school: (International / ICSE / CBSE / SSC etc) : </label>
                <span><%= schooltype %></span>
            </td>
        </tr>
        <tr>
            <td class="form-group">
                <label for="addressof">Address : </label>
                <span><%= addressof %></span>
            </td>
            <td class="form-group">
                <label for="schooltype">Full Time / Part Time : </label>
                <span><%= time %></span>
            </td>
        </tr>
        <tr>
            <td class="form-group">
                <label for="college">University / College Details : </label>
                <span><%= college %></span>
            </td>
            <td class="form-group">
                <label for="dates">Dates : </label>
                <span><%= dates %></span>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="form-group">
                <label for="details">Details of qualifications achieved and examinations passed : </label>
                <span><%= details %></span>
            </td>
        </tr>
    </table>
</form>